.PopupRightPane {
    width: 45%;
    height: 100%;
    position: relative;
    float: right;
}

.PopupRightText1 {
    color: black;
    font-size: 15px;
    text-align: center;
}

.PopupRightText2 {
    color: #0029ff;
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
}

.PopupRightInputBox {
    width: 80%;
    height: 35px;
    margin: 10px;
}

.PopupRightSubmitButton {
    width: 80%;
    height: 45px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #f79e32;
    color: #ffffff;
    font-size: 15px;
    box-shadow: 0;
}