.RightPanel {
    width: 33%;
    height: 300px;
    padding-right: 200px;
    padding-top: 20px;
    margin: 20px;
}

.RightPanelFloatingSlider {
    background-color: #ffffff;
    border: 2px solid blue;
    border-radius: 15px;
    width: 45%;
    height: 270px;
    margin-left:42%;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 10px 10px 10px rgba(255, 255, 255, 0.19);
    text-align: center;
}

.RightPanelCircleImage {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 3px solid blue;
}

.RightPanelLogos {
    width: 135px;
}